<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue js | training</title>
    <link rel="stylesheet" href="../stylesheet/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>


    <div id="vue-app">

        <h1>Loop And For</h1>
        <ul>
            <li v-for="char in chars">{{char}}</li>
        </ul>
        <ul>
            <li v-for="(ninja,index) in ninjas">{{index+1}} . {{ninja.name}} - {{ninja.age}}</li>
        </ul>
        <template v-for="(ninja,index) in ninjas">
            <template v-for="(val,key) in ninja">
                <p><strong>{{key}}</strong> - <small>{{val}}</small></p>
            </template>
        </template>

    </div>



    <script src="../js/app.js"></script>
</body>
</html>